@import "../../scss/index.scss";

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: $left-bg;

  .product {
    position: fixed;
    width: 37%;
    object-fit: contain;
    left: 40%;
    bottom: -3%;
    z-index: 99;
  }
  .light-side {
    background-color: $left-bg;
    width: 60%;
    padding-left: 75px;
    .content {
      margin-top: 225px;
      position: relative;
      .stars{
        display: flex;
        p{
          align-self: flex-start;
          margin-left: 8px;
          color:$grey;
          font-size: 16px;
        }
      }
      .box{
        width: 406px;
        height: 16px;
        background-color: $dark-red;
        top: 45px;
        left: 0;
        margin-top: -60px;
      }
      h1 {
        font-size: 52px;
        color: white;
        z-index: 99;
      }
      p {
        font-size: 19px;
        font-weight: 400;
        color: white;
        width: 600px;
      }
      .price{
        color:$dark-red;
        font-size: 52px;
        font-weight: 900;
      }
      .slash{
        text-decoration: line-through;
        color:#FFFFFF;
        font-size: 22px;
        margin-top: -53px;
        font-weight: 600;
      }
    }

   
  }
  .dark-side {
    width: 40%;
    background-size: contain;
    position: relative;
    background: linear-gradient(
        0deg,
        rgba(19, 19, 19, 0.95),
        rgba(19, 19, 19, 0.95)
      ),
      url("../../assets/Product.png");
  }
}
