@import '../../scss/index.scss';
.nav-container{
    position: fixed;
    width: 100%;
    z-index: 1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    .content{
        align-self: center;
        padding-right:50px;
    }
    .logo{
        width: 345px;
        height: 156px;
        background-color: #131313;
    @include center-perfect
    }
}